---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@/styles/global.css";

import { ClientRouter } from "astro:transitions";
import type { ImageMetadata } from "astro";
import FallbackImage from "@/assets/blog-placeholder-1.jpg";
import { SITE_TITLE } from "@/consts";

interface Props {
  description: string;
  image?: ImageMetadata;
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title, description, image = FallbackImage } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1" name="viewport">
<link href="/favicon.svg" rel="icon" type="image/svg+xml">
<!-- <link rel="icon" type="image/x-icon" href="/favicon.ico" /> -->
<link href="/sitemap-index.xml" rel="sitemap">
<link
  href={new URL("rss.xml", Astro.site)}
  rel="alternate"
  title={SITE_TITLE}
  type="application/rss+xml"
>
<meta content={Astro.generator} name="generator">

<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
<link
  href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Rubik:ital,wght@0,300..900;1,300..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap"
  rel="stylesheet"
>

<!-- Canonical URL -->
<link href={canonicalURL} rel="canonical">

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta content={title} name="title">
<meta content={description} name="description">

<!-- Open Graph / Facebook -->
<meta content="website" property="og:type">
<meta content={Astro.url} property="og:url">
<meta content={title} property="og:title">
<meta content={description} property="og:description">
<meta content={new URL(image.src, Astro.url)} property="og:image">

<!-- Twitter -->
<meta content="summary_large_image" property="twitter:card">
<meta content={Astro.url} property="twitter:url">
<meta content={title} property="twitter:title">
<meta content={description} property="twitter:description">
<meta content={new URL(image.src, Astro.url)} property="twitter:image">

<ClientRouter />

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }

    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }

    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }
</script>
