---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import { Image } from "astro:assets";
import Content from "@/components/Content.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={description} />
    </head>

    <body>
        <Header />
        <style is:global>
            @reference "../styles/global.css";
            main article.markdown-body {
                ul {
                    @apply list-disc list-inside pl-4 mb-4;
                }
                h1,
                h2,
                h3,
                h4,
                h5 {
                    @apply font-bold font-title mb-2;
                }
                h1 {
                    @apply scroll-m-20 text-4xl font-extrabold tracking-tight text-balance;
                }
                h2 {
                    @apply scroll-m-20 border-b pb-2 text-3xl font-semibold tracking-tight first:mt-0;
                }
                h3 {
                    @apply scroll-m-20 text-2xl font-semibold tracking-tight;
                }
                h4 {
                    @apply scroll-m-20 text-xl font-semibold tracking-tight;
                }
                p {
                    @apply leading-7 [&:not(:first-child)]:mt-6;
                }
                blockquote {
                    @apply mt-6 border-l-2 pl-6 italic;
                }
                ul {
                    @apply my-6 ml-6 list-disc [&>li]:mt-2;
                }
                code {
                    @apply bg-muted relative rounded px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
                }
                img {
                    @apply border border-slate-300 dark:border-zinc-700 rounded-xl mb-6 mx-auto;
                }
                a {
                    @apply underline underline-offset-2 hover:text-orange-500 decoration-orange-500;
                }
            }
        </style>

        <main class="pt-[56px]">
            <Content className="pt-6 markdown-body">
                <div class="mb-8 flex flex-col items-center">
                    {
                        heroImage && (
                            <Image
                                class="border border-slate-300 dark:border-zinc-700 rounded-xl"
                                width={1020}
                                height={510}
                                src={heroImage.image}
                                alt=""
                                transition:name={title}
                                transition:animate="slide"
                            />
                        )
                    }
                    {
                        heroImage && (
                            <a href={heroImage.source}>
                                Image by {heroImage.owner}
                            </a>
                        )
                    }
                </div>
                <h1 class="mt-1 font-title">{title}</h1>
                <div class="date text-muted-foreground">
                    <FormattedDate date={pubDate} />
                    {
                        updatedDate && (
                            <div>
                                Last updated on{" "}
                                <FormattedDate date={updatedDate} />
                            </div>
                        )
                    }
                </div>
                <p class="text-muted-foreground text-xl">{description}</p>
                <hr class="border-top border-zinc-400 my-4" />
                <slot />
            </Content>
        </main>
        <Footer />
    </body>
</html>
